body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 73px;
  }

  #sevgiMesaji {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  #butonlar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .buton {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #artirButon {
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  #azaltButon {
    background-color: #f44336;
    color: white;
    border: none;
  }

  #hataPopUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  #hataKutusu {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  #hataMesaji {
    color: #f44336;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .kapatButon {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .kalp {
    display: none;
    animation: kalpAnimasyonu 1s ease-out;
  }

  @keyframes kalpAnimasyonu {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  #degistirButon {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    padding: 10px;
    background-color: transparent;
    color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }
  
  #degistirButon:hover {
    background-color: rgba(52, 152, 219, 0.1);
    color: #2980b9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  
  
